@use 'base/mixins' as m;
@use 'base/variables' as v;



.auth{
    @include m.contenedor-sm;
    position: relative;
  z-index: 1;
  background: rgba(72, 85, 113, 0.75); 
  padding: 2rem 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px v.$azul;
  backdrop-filter: saturate(180%) blur(10px); 
  border: 1px solid v.$secundario;
  margin-top: 1rem;
 
 
 
}
.auth__texto{
   font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: v.$blanco;
  text-shadow: 0 0 6px rgba(0, 150, 255, 0.7);
}