@use 'base/mixins' as m;
@use 'base/variables' as v;

.paquetes{
    color:v.$negro;
    &__grid{

        @include m.contenedor;
        @include m.grid(1,3rem);
        @include m.tablet{
            @include m.grid(3,3rem);
            align-items: flex-start;
        }
    }
    &__submit{
        margin-top: 2rem;
        @include  m.boton(v.$azul,v.$blanco);
    }

  .paquetes__heading,
  .paquete__descripcion,
  .paquete__nombre,
  .paquete__elemento {
    color: v.$negro;
  }
}

.paquete{
    @include m.card;
    &:nth-child(2){
        order:-1;

        @include m.tablet{
            order:0;
        }
    }

    &__lista{
        @include m.reset-lista;
        line-height: 2;
    }

    &__precio{
        font-size: 4rem;
        margin: 3rem 0 0 0;
        color:v.$azul;
        font-weight: v.$black;
        text-align: center;
    }
}
