@use 'base/mixins' as m;
@use 'base/variables' as v;

.paginacion {
    display: flex;
    justify-content: space-between;
   margin-top: 5rem;
   margin-bottom: 3rem;
   gap: 1rem;
   flex-wrap: wrap;
   justify-content: center;

   @include m.tablet{
    justify-content: flex-end;
   }

   &__enlace {
    padding: 8px 15px;
    background-color:v.$azul;
    color: v.$blanco;
    font-size: 2rem;
   
    &:hover{
        color: v.$azul;
        background-color: v.$blanco;
    }

    
}
&__actual {
    
    padding: 8px 12px;
    background-color:v.$negro;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
}





